.formUser {
   width: 500px;
   height: 500px;
   border-radius: 22px;
   background: #090E1E;
}

.div {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
}
 
.logo img {
   width: 250px;
   height: 120px;
   margin-left: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.inputDiv {
   margin-top: 20%;
}

.button {
   color: #fff;
   width: 235px;
   height: 45px;
   font-size: 18px;
   margin-top: 12%;
   margin-left: 8px;
   background: #125475;
   list-style: none;
   border-radius: 12px;
}

.user {
   width: 500px;
   height: 500px;
   margin-top: 5%;
   border-radius: 22px;
   background: #090E1E;
}

.divUser {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
}

.pUser {
   color: #fff;
   font-size: 24px;
   font-weight: bold;
}
.userImg img {
   height: 200px;
   width: 200px;
   border-radius: 20px;
}
p {
   color: #fff;
   font-size: 24px;
   font-weight: bold;
}
input {
   height: 30px;
   width: 235px;
   font-size: 18px; 
   margin-left: 6px;
   font-weight: bold;
   border-radius: 12px;
   border-color: #090E1E;
}
