.toolbar {
   height: 70px;
   background: #090E1E;
}

.navigation ul {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   justify-content: center;
}

.navigation a {
   color: #fff;
   font-size: 24px;
   font-weight: bold;
   text-decoration: none;
}

.navigation li {
   padding: 0 12px;
   margin-top: 22px;
}
.Home {
   display: flex;
   margin-top: 7%; 
   align-items: center;
   justify-content: center;
}
.Resume {
   display: flex;
   margin-top: -5%; 
   align-items: center;
   justify-content: center;
}

.Resume a {
   color: #085982;
}
@media (max-width: 420px) {
   .Resume a {
      font-size: 19px;
   }
}
