.resume {
   width: 900px;
   height: 900px;
   background: #fff;
}

.nameBio {
}

.nameBio h1 {
   margin-left: 7%;
   font-weight: normal;
}

.nameBio h2 {
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

.gitProfile h3 {
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

.site h3 {
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

.lang h3 {
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}
.poprep h3 {
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}
.contrib h3 { 
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

.organiz h3 { 
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

.about h3 {
   margin-top: 3%;
   margin-left: 7%;
   font-style: italic;
   font-weight: normal;
}

hr {
   width: 85%;
   margin-top: 3%;
}

@media (max-width: 1000px) {
   .resume {
      width: 800px;
      height: 900px;
   }
}
@media (max-width: 835px) {
   .resume {
      width: 700px;
      height: 900px
   }
}

@media (max-width: 740px) {
   .resume {
      width: 600px;
      height: 800px;
   }
}
@media (max-width: 640px) {
   .resume {
      width: 550px; 
      height: 700px;
   }
}
@media (max-width: 540px) {
   .resume {
      width: 450px;
      height: 600px;
   }
}
