
.resumeDiv {
   width: 1000px;
   display: flex;
   margin-top: 1%;
   height: 300px;
   background: #fff;
   border-radius: 32px;
}


.avatarDiv img {
  width: 250px;
  height: 250px;
  border-radius: 32px; 
}
.logoDiv {
   display: flex;
   height: 120px;
   width: 1000px;
   background: #fff;
   border-radius: 42px;
   justify-content: center;
}

.logoDiv img {
   width: 200px;
   height: 120px;
   border-radius: 42px;
}

.nameBio {
   height: 20%;
   width: 100%;
   display: flex;
   margin-top: 2%;
   justify-content: center;
}

.nameDiv {
   margin-left: 4%;
}

.nameDiv h1 {
   font-size: 48px;
   letter-spacing: 3px;
   font-weight: normal;
   text-transform: uppercase;
}

.nameDiv h2 {
   font-size: 26px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.profile h2 {
   margin-left: 6%;
   font-weight: bold;
   letter-spacing: 1px;
}
.mainGit {
   width: 1000px;
   display: flex;
   height: 100px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.gitProfile{
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.gitProfile h2 {
   font-size: 24px;
   font-weight: 10px;
}

.momentDiv h2 {
   margin-left: 10%;
}
.momentDiv a {
   background: #000000;
}

.mainSite {
   width: 1000px;
   display: flex;
   height: 70px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.site{
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.site h2 {
   font-size: 24px;
   font-weight: 10px;
}

.blogDiv h2 {
   margin-left: 35%;
}

.mainLang {
   width: 1000px;
   display: flex;
   height: 200px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.lang{
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.lang h2 {
   font-size: 24px;
   font-weight: 10px;
}

.langDiv h2 {
   margin-left: 35%;
}

.mainPopRep {
   width: 1000px;
   display: flex;
   height: 100px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.popRep{
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.popRep h2 {
   font-size: 24px;
   font-weight: 10px;
}

.poRepDiv h2 {
   margin-left: 35%;
}

.mainContri {
   width: 1000px;
   display: flex;
   height: 70px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.contri {
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.contri h2 {
   font-size: 24px;
   font-weight: 10px;
}

.contriDiv h2 {
   margin-left: 35%;
}

.mainOrg {
   width: 1000px;
   display: flex;
   height: 70px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.org {
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.org h2 {
   font-size: 24px;
   font-weight: 10px;
}

.orgDiv h2 {
   margin-left: 35%;
}

.mainAbout {
   width: 1000px;
   display: flex;
   height: 220px;
   margin-top: 1%;
   background: #fff;
   border-radius: 32px; 
   justify-content: center;
}

.about {
   width: 80%;
   height: 15%;
   display: flex;
   border-radius: 32px; 
}

.about h2 {
   font-size: 24px;
   font-weight: 10px;
}

.aboutDiv h2 {
   margin-left: 15%;
}



@media (max-width: 1000px) {
   .logoDiv {
      width: 800px;
      height: 120px;
      margin-top: 5%;
   }
   .resumeDiv {
      width: 800px;
   }
   .mainGit {
      width: 800px;
   }
   .mainSite {
      width: 800px;
   }
   .mainLang {
      width: 800px;
   }
   .mainPopRep {
      width: 800px;
   }
   .mainContri {
      width: 800px;
   }
   .mainOrg {
      width: 800px;
   }
   .mainAbout {
      height: 300px;
      width: 800px;
   }
}


@media (max-width: 820px) {
   .logoDiv {
      width: 600px;
      height: 130px;
      margin-top: 5%;
   }
   .resumeDiv {
      width: 600px;
   }
   .mainGit {
      height: 150px;
      width: 600px;
   }
   .mainSite {
      width: 600px;
   }

   .mainLang {
      width: 600px;
   }
   .mainPopRep {
      width: 600px;
   }
   .mainContri {
      width: 600px;
   }
   .mainOrg {
      width: 600px;
   }
   .mainAbout {
      height: 400px;
      width: 600px;
   }
}

@media (max-width: 620px) {
   .logoDiv {
      width: 500px;
      height: 130px;
      margin-top: 5%;
   }
   .resumeDiv {
      width: 500px;
   }
   .mainGit {
      width: 500px;
   }
   .mainSite {
      width: 500px;
   }
   .mainLang {
      width: 500px;
   }
   .mainPopRep {
      width: 500px;
   }
   .mainContri {
      width: 500px;
   }
   .mainOrg {
      width: 500px;
   }
   .mainAbout {
      height: 500px;
      width: 500px;
   }
}

@media (max-width: 420px) {
   .logoDiv {
      width: 350px;
      height: 120px;
      margin-top: 5%;
   }
   .resumeDiv {
      width: 350px;
   }
   .avatarDiv img {
      height: 150px;
      width: 150px;
   }
   .mainGit {
      width: 350px;
   }
   .mainGit h2 {
      font-size: 19px;
   }
   .mainSite {
      width: 350px;
   }
   .mainSite h2 {
      font-size: 19px;
   }
   .mainLang {
      width: 350px;
   }
   .mainLang h2 {
      font-size: 19px;
   }
   .mainPopRep {
      width: 350px;
   }
   .mainPopRep h2 {
      font-size: 19px;
   }
   .mainContri {
      width: 350px;
   }
   .mainContri h2 {
      font-size: 19px;
   }
   .mainOrg {
      width: 350px;
   }
   .mainOrg h2 {
      font-size: 19px;
   }
   .mainAbout {
      height: 500px;
      width: 350px;
   }
   .mainAbout h2{ 
      font-size: 19px;
   }
}





















